* {
  box-sizing: border-box;
  margin: 0;
}
#products-sample {
  display: flex;
  flex-direction: row;
}
.product-card {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  height: 15rem;
  width: 33%;
  img {
    max-width: 50%;
  }
}
.index-description {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 14pt;
  }
  h3 {
    font-size: 12pt;
    color: gray;
  }
}
