* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
#root {
  background-color: #d1d1d1;
}
#products-sample {
  align-items: self-start;
  height: 45vh;
  display: flex;
  flex-direction: row;
}
#products-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: auto;
}
.products {
  height: fit-content;
  margin-bottom: 100px;
}
.cart {
  height: 93vh;
  h1 {
    padding-left: 4rem;
    padding-top: 2rem;
    color: #003049;
  }
}
.view-shop {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.product-card-shop {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  margin: 1rem;
  height: 20rem;
  width: 95%;
  border-radius: 15px;
  justify-content: space-between;
  img {
    max-width: 40%;
    margin: 2rem;
  }
}

.product-card-index {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  margin-top: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 60%;
  width: 33%;
  border-radius: 15px;
  img {
    max-width: 50%;
    height: fit-content;
    max-height: 100%;
  }
}
.index-description {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  h2 {
    font-size: 14pt;
  }
  h3 {
    font-size: 12pt;
    color: gray;
  }
}
.product-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}
.header-img {
  height: 43vh;
  width: 100%;
  object-fit: cover;
}
#header {
  height: 7vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
  background-color: #611c35;
  justify-content: space-between;
  align-items: center;
}
#nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}
.rec-heading {
  text-align: center;
  background-color: #003049;
  color: white;
  margin-top: -1%;
  padding: 2.5vh;
}
.nav-text {
  color: rgba(255, 255, 255, 0.685);
  text-decoration: none;
  font-size: 18pt;
  padding: 1rem;
  align-self: center;
}
.nav-text:hover {
  color: white;
  /* transform: scale(1.2); */
}
#header-right {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 18pt;
  margin-left: 1rem;
  align-items: center;
  h1 {
    align-self: last baseline;
  }
}
#footer {
  margin-top: -100px;
  height: 100px;
  text-align: center;
  background-color: #003049;
  padding: 2rem;
  a {
    color: white;
    text-decoration: none;
  }
}
.product-page {
  display: flex;
  flex-direction: row;
  height: 90vh;
  margin: 2rem;
}
.product-info {
  height: fit-content;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.img-product {
  width: 45vh;
  height: fit-content;
  border-radius: 15px;
}
.product-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-button {
  width: 100%;
  display: flex;
  justify-content: right;
  padding-top: 1rem;
}
.product-end {
  display: flex;
  flex-direction: column;
}
.product-amount {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button-checkout {
  width: 100%;
  display: flex;
  justify-content: right;
  padding-top: 1rem;
  padding-right: 2rem;
}
